/* start variable */
:root {
    --main-color: rgb(66, 200, 183);
}
/* end variable */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;    
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center; 
    color: #797979;
}
@media (max-width: 767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* end components */
/* start header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: .3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links ul {
    padding: 0;
    margin: 0;
    min-width: 200px;
    display: none;
    background-color: #f6f6f6;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul li {
    list-style: none;

}
.header .links ul::before {
    content: "";
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    border-width: 10px;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.header .links ul li a:hover {
    content: "";
    padding-left: 25px;
}
/* end header */
/* start landing */
.landing {
    background-image: url(../images/adventure-alpine-background-355770.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
    margin-top: 10px;
}
.landing .text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 320px;
    max-width: 100%;
}
.landing .text h1 {
    color: var(--main-color);
    font-weight: bold;
    font-size: 50px;
    margin: 0;
}
.landing .text p {
    font-size: 19px;
    line-height: 1.8;
}
/* end landing */
/* start features */
.features {
    padding-top: var(--section-padding, 60px);
    padding-bottom: var(--section-padding, 60px);
    background-color: var(--section-background, #f6f6f6);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}
.features .container .feat {
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;

}
.features .container .feat i {
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.features .container .feat h3 {
    font-weight: 800;
    margin: 0;
    padding: 10px;
}
.features .container .feat p {
    color: #777;
    line-height: 1.6;
}
/* end features */
/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.special-heading + p {
    padding: 5px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.services .services-content .srv {
    display: flex;
    margin: 40px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .srv i {
    color: #10cab7;
    flex-basis: 60px;
    font-size: 40px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv h3 {
    margin: 0 0 20px;
}
.services .services-content .srv p {
    font-weight: 300;
    line-height: 1.6;
}
.services .services-content .image {
    text-align: center;
    margin-top: 30px;
    position: relative;
    z-index: 2;
}
.services .services-content .image::before {
    content: "";
    background-color: rgb(82, 82, 82);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}
.services .services-content .image img {
    width: 250px;
    height: 375px;
}
@media (max-width: 1199px) {
    .image-column {
        display: none;
    }
}
/* end services */
/* start portfolio */
.portfolio {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 60px;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
    transition: .3s;
}
.portfolio .portfolio-content .card:hover img {
    opacity: .6;
}
.portfolio .portfolio-content .card .text {
    padding: 20px;
}
.portfolio .portfolio-content .card .text h3 {
    margin: 0;
}
.portfolio .portfolio-content .card .text p {
    color: #777;
    line-height: 1.6;
    margin-top: 10px;
}
/* end portfolio */
/* start about */
.about {
    padding-top: 60px;
    padding-bottom: 60px;
}
.about .about-content {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
}
.about .about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
.about .about-content .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -3;
}
.about .about-content .image::after {
    content: "";
    position: absolute;
    width: 120PX;
    height: 300px;
    border-left: 80px solid var(--main-color, #10cab7);
    border-bottom: 80px solid var(--main-color, #10cab7);
    z-index: -3;
    right: -150px;
    top: -40px;
}
@media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
        display: none;
    }
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
    justify-content: flex-start;
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.about .about-content .text hr {
    border-color: #10cab7;
    width: 50%;
    display: inline-block;
}
.about .about-content .text p:last-of-type {
    line-height: 2;
    margin-top: 25px;
    color: #777;
}
/* end about */
/* start contact */
.contact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.contact .info {
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.contact .info .label {
    font-weight: 800;
    font-size: 35px;
    color: #2c4755;
    letter-spacing: -2px;
    margin-bottom: 15px;
}
.contact .info .link {
    display: block;
    font-size: 35px;
    font-weight: 800px;
    color: #10cab7;
    text-decoration: none;
}
.contact .info .social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 10px;
    color: var(--secondary-color, #2c4755);
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
        font-size: 25px;
    }
}
/* end contact */
/* start footer */
.footer {
    background-color: #2c4755;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 18px;
}
.footer span {
    color: #10cab7;
    font-weight: bold;
}
/* end footer */
